<div class="container">
  <div class="row">
    <div class="col-6 create-form">
      <h3 class="text-center">Create User</h3>
      <form [formGroup]="createUserForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="userHelp" placeholder="Enter name" formControlName="name">
          <small id="userHelp" class="form-text text-muted">We'll never share your user name with anyone else.</small>
          <small class="error-text" *ngIf="formErrors && formErrors.name">{{formErrors.name}}</small>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <small class="error-text" *ngIf="formErrors && formErrors.email">{{formErrors.email}}</small>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>
